commands:
   01Link:
      command: "/tmp/wpcopysymlink.sh"
      ##command: "echo '$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).*****.efs.us-west-2.amazonaws.com:/ /var/app/efs nfs4 nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 0 0' >> /etc/fstab"
  
files:
  "/tmp/wpcopysymlink.sh":
      mode: "000755"
      content : |
        #!/bin/bash
 
        ## ebextensions check if Symlink and wp is already installed if not copy it to EFS

        echo 'Checking to see Wordpress is already in EFS or not...'
        if [ ! -d /var/app/efs/wp-admin ]; then
            echo "Wordpress isn't installed I'm going to copy the base install to the EFS Shared directory /var/app/efs ..."
            rysnc -r /var/app/current/* /var/app/efs
            if [ $? -ne 0 ]; then
                echo 'ERROR: Directory Copy failed!'
                exit 1
            fi
        else
            echo "Wordpress is already there /var/app/efs/wp-admin already exists!"
        fi
        
        echo 'Checking to see if the symlink is there from the app dir to EFS or not...'
        
        if [ -L /var/app/current ] ; then
        echo "Good link so your good to go"
            else
                echo "No link so I'm removing the directory and creating the symlink in it's place to EFS"
                rm -rf /var/app/current
                ln -s /var/app/efs /var/app/current
        fi
        

        echo 'All done'