option_setings:
- option_name: AUTH_KEY
  value: '***'
- option_name: SECURE_AUTH_KEY
  value: '***'
- option_name: LOGGED_IN_KEY
  value: '****'
- option_name: NONCE_KEY
  value: '***'
- option_name: SECURE_AUTH_SALT
  value: '***'
- option_name: LOGGED_IN_SALT
  value: '****'
- option_name: NONCE_SALT
  value: '****'
- option_name: AUTH_SALT
  value: '****'