commands:
    01installwebmin:
     command: "yum -y install webmin"

files:
  "/etc/yum.repos.d/webmin.repo":
      mode: "000755"
      content : |
        [Webmin]
        name=Webmin Distribution Neutral
        baseurl=http://download.webmin.com/download/yum
        enabled=1
        gpgcheck=1
        gpgkey=http://www.webmin.com/jcameron-key.asc
