packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-php5: []
  yum:
    newrelic-sysmond: []
commands:
  "01":
    command: nrsysmond-config --set license_key=****************************
  "02":
    command: echo hostname=CCSSEFS >> /etc/newrelic/nrsysmond.cfg
  "03":
    command: /etc/init.d/newrelic-sysmond restart
    ignoreErrors: true
  "04":
    command: 'grep -q "^newrelic.license" /etc/php.ini || echo newrelic.license="****************************" >> /etc/php.ini'
